/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8f8f8;
  margin: 2px;
  font-family: Helvetica, sans-serif;
}

app-tabfilm .mat-tab-label {
  color: darkgrey;
  font-weight: bold;
}

app-tabfilm .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff0079;
}

app-tabfilm .mat-tab-label.mat-tab-label-active {
  color: #ff0079;
  font-weight: bold;
}
